.SearchBar {
   width: 100%;
   padding:5px;
   background-color: rgba(0,0,0,0.8);
   box-sizing: border-box;
   grid-column-start: 2;
   grid-column-end: 5;
   grid-row: 1;
}


  h4 {
      display:flex;
      justify-content: flex-start;
      padding:3px 10px;
      font-size: 1.4em;
      font-family: Arial, sans-serif;
      margin: 0;
  }